*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content
{
    max-width: 800px;
    text-align: center;
}
.content h2
{
    font-size: 50px;
    font-family: Roboto Condensed;
    color: white;
    font-weight: 500;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: Montserrat;
}
.contactinfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contactinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.icon
{
    min-width: 60px;
    height: 62px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.text
{
    display: flex;
    margin-left: 85px;
    font-size: 16px;
    flex-direction: row;
    font-weight: 300;
}
.contact-data
{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.mail-data
{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.smedia
{
    min-width: 98px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 51%;
    font-size: 24px;
}
.icon-link
{
    display: inline-flex;
    font-size: 2 rem;
    text-decoration: none;
    color: white; 
    width: 4rem;
    height: 4rem;
    transition: .5s linear;
    position: relative;
    z-index: 1;
    margin: auto;
}
.contactform
{
    width: 40%;
    padding: 40px;
    background: white;
    border-style: inset;
}
h2
{
    font-size: 31px;
    color: #333;
    font-weight: 800;
}
.inputbox
{
    position: relative;
    width: 100%;
    margin-top: 15px;
}
.inputbox input,
.inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 9px 0;
    border: none;
    border-bottom: 3px solid#000;
    outline: none;
    resize: none;
}
.inputbox span
{
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.inputbox input:focus ~ span,
.inputbox input:valid ~ span,
.inputbox textarea:focus ~ span,
.inputbox textarea:valid ~ span
{
    color: black;
    font-size: 12px;
    transform: translateY(-20px);
}
button[type="submit"]
{
    width: 20%;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: .3s ease background-color;
}
button[type="submit"]:hover
{
    background-color: #04999A;
}
@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .smedia
    {
        flex-direction: row;
    }
    .container .contactinfo
    {
        margin-bottom: 40px;
    }
    .container.contactinfo
    {
        width: 100%;
    }

}