
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-height: 1000px;
}
header{
    z-index: 100;
    position:fixed ;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}
header.sticky{
    height: 80px;
}
header .main-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    background-color: black;
}
header .logo{
    display: grid;
    grid-template-rows: 50% 50%;
    margin: 0%;
}
header.sticky .logo{
    position: absolute;
    left: 5%;
}
header .logo .logo1{
    position:fixed;
    top: 35%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%,-50%);
    transition: 1s;
    width: 25%;
}

header.sticky .logo1{
    opacity: 0;
    display: none;
}
header .logo2{
    position:fixed;
    top: 70%;
    left: 50%;
    transition: 1s;
    transform: translate(-50%,-50%);
    z-index: 1;
}
header.sticky .logo2{
    opacity: 0;
    display: none;
    z-index: -2;
}
header .logo2 a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 7vw;
    font-weight: 500;
}
header .logo2 p{
    font-size: 1vw;
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    justify-content: center;
    padding: 0%;
}
header .zealous{
    position: absolute;
    transform: translateX(100px);
    font-size: 10vw;
    z-index: 1;
    opacity: 0;
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
}
header.sticky .zealous{
    position: absolute;
    font-size: 2em;
    left: 7%;
    transform: translateX(0px);
    opacity: 1;
}
nav{
    position: relative;
    display: flex;
    z-index: 1;
}
nav ul{
    position: relative;
    display: flex;
    transition: 0.25%;
    transform: translateX(100px);
    opacity: 0;
}
header.sticky nav ul{
    transform: translateX(0px);
    opacity: 1;
    right: 7%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: white;
    display: inline-block;
    padding: 20px 15px;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Montserrat';
}
nav ul li a:hover{
    color: #fa9200;
}

@media (max-width: 600px) {
    header{
        padding: 0px;
    }
    header.sticky .zealous{
        left: 40px;
    }
    header.logo .logo1{
        width: 40%;
    }
    header.sticky .main-bg{
        opacity: 1;
        background-color: black;
    }    
    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    header.sticky nav ul{
        opacity: 1;
        visibility: visible;

    }
    nav ul li a{
        font-size: 2em;
    }
    header.sticky .toggle{
        position: fixed;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 30px;
        background: url('./images/menu.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
    }
    header.sticky .toggle.active{
        background: url('./images/close.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
    }
}